.mtj.tmp/

*.jar
*.war
*.ear

hs_err_pid*

**/*.class
**/*.idea
**/*.settings
**/*.iml
**/*.ipr
**/*.iws
**/*.project
**/*.classpath
**/*.war
**/target
**/build
**/gradle
**/log
**/bin
**/pkg
**/*.lock

